.ly-mobile-page {
    width: 100vw;
    height: 100vh;
    background-image:
        url('../assets/mobile/shape1.png'),
        url('../assets/mobile/shape2.svg');
    background-position: top left, center right;
    background-repeat: no-repeat;
}