@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .ly-header-mobile,
    .ly-header-desktop {
        background-position: left top;
        background-repeat: no-repeat;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .ly-header-mobile {
        background-image: url('./assets/mobile/shape1.svg');
        height: 296px;
        width: 352px;
    }
    .ly-header-desktop {
        background-image: url('./assets/desktop/shape1.svg');
        height: 470px;
        width: 560px;
    }

    .ly-initial-mobile,
    .ly-pages-desktop {
        background-position: right center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
    }
    .ly-initial-mobile {
        background-image: url('./assets/mobile/shape2.svg');
    }
    .ly-pages-mobile {
        background-image: url('./assets/mobile/shape3.svg');
        background-position: left bottom 150px;
        background-repeat: no-repeat;
    }
    .ly-pages-desktop {
        background-image: url('./assets/desktop/shape2.svg');;
    }


    .btn {
        @apply bg-tertiary text-base font-600 p-2 rounded-md w-[180px] md:w-[360px] text-center hover:bg-pink-light hover:animate-pulse;
    }

    .form-input {
        @apply bg-gray-light text-center p-2 rounded-md outline-none shadow-md w-full;
    }
}
